<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <!-- favicons -->
    <link rel="icon" href="{{ 'assets/favicon/favicon.png' | relative_url }}">
    <!-- END: favicons -->

    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ 'assets/css/vendor.bundle.css' | relative_url }}?_={{ site.time | date: '%s' }}">
    <link rel="stylesheet" href="{{ 'assets/css/app.bundle.css' | relative_url }}?_={{ site.time | date: '%s' }}">
    <!-- END: stylesheets -->
</head>
<body>

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {% include header.html %}

    <main role="main">
        {{ content }}
    </main>

    {% include footer.html %}

    <!-- scripts -->
    <script src="{{ 'assets/js/common.bundle.js' | relative_url }}?_={{ site.time | date: '%s' }}"></script>
    <script src="{{ 'assets/js/vendor.bundle.js' | relative_url }}?_={{ site.time | date: '%s' }}"></script>
    <script src="{{ 'assets/js/app.bundle.js' | relative_url }}?_={{ site.time | date: '%s' }}"></script>
    <!-- END: scripts -->

</body>
</html>