<h5>Checkbox, Radio buttons</h5>
<hr>
<div class="row">
    <div class="col-lg-4">
        <span class="sub-heading">Checkboxes</span>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox">
                <span>Inactive</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" checked>
                <span>Selected</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input indeterminate" type="checkbox">
                <span>Indeterminate</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" disabled>
                <span>Disabled</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" disabled checked>
                <span>Dis. Selected</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input indeterminate" type="checkbox" disabled>
                <span>Dis. Indeterminate</span>
            </label>
        </div>
    </div>
    <div class="col-lg-4">
        <span class="sub-heading">Radio buttons</span>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="example">
                <span>Inactive</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="example" checked>
                <span>Selected</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="example2" disabled>
                <span>Disabled</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="example2" checked disabled>
                <span>Dis. Selected</span>
            </label>
        </div>
    </div>
    <div class="col-lg-4">
        <span class="sub-heading">Toggle buttons</span>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input toggle" type="checkbox">
                <span>Off</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input toggle" type="checkbox" checked>
                <span>On</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input toggle" type="checkbox" disabled>
                <span>Off Disabled</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input toggle" type="checkbox" disabled checked>
                <span>On Disabled</span>
            </label>
        </div>
    </div>
</div>