<h5>Forms</h5>
<hr>
<div class="row">
    <div class="col-lg-3">
        <span class="sub-heading">Default</span>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Type something">
        </div>
    </div>
    <div class="col-lg-3">
        <span class="sub-heading">Hovered</span>

        <div class="form-group hover">
            <input type="text" class="form-control" placeholder="Type something">
        </div>
    </div>
    <div class="col-lg-3">
        <span class="sub-heading">Focused</span>

        <div class="form-group focus">
            <input type="text" class="form-control" placeholder="Type something">
        </div>
    </div>
    <div class="col-lg-3">
        <span class="sub-heading">Filled</span>

        <div class="form-group">
            <input type="text" class="form-control" value="Text" placeholder="Type something">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type something">
                <span class="input-group-addon">
                    {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group hover">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type something">
                <span class="input-group-addon">
                        {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group focus">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type something">
                <span class="input-group-addon">
                    {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" value="Text" placeholder="Type something">
                <span class="input-group-addon">
                    {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <div class="input-group icon-top">
                <textarea class="form-control" rows="3" placeholder="Type something"></textarea>
                <span class="input-group-addon">
                    {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group hover">
            <div class="input-group icon-top">
                <textarea class="form-control" rows="3" placeholder="Type something"></textarea>
                <span class="input-group-addon">
                    {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group focus">
            <div class="input-group icon-top">
                <textarea class="form-control" rows="3" placeholder="Type something"></textarea>
                <span class="input-group-addon">
                    {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <div class="input-group icon-top">
                <textarea class="form-control" rows="3" placeholder="Type something">Text</textarea>
                <span class="input-group-addon">
                    {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <div class="input-group">
                <select class="form-control selectpicker">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <div class="input-group">
                <select class="form-control selectpicker">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
                <span class="input-group-addon">
                    {% include_relative _assets/svg/ic_search.svg %}
                </span>
            </div>
        </div>
    </div>
</div>