<h5>Notifications</h5>
<hr>
<div class="row">
    <div class="col-lg-6">
        <div class="alert alert-primary fade show" role="alert">
            <span>This is a primary alert—check it out!</span>
            <button type="button" class="close-alert" data-dismiss="alert" aria-label="Close">
                {% include_relative _assets/svg/ic_close_notf.svg %}
            </button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="alert alert-danger fade show" role="alert">
            <span>This is a danger alert—check it out!</span>
            <button type="button" class="close-alert" data-dismiss="alert" aria-label="Close">
                {% include_relative _assets/svg/ic_close_notf.svg %}
            </button>
        </div>
    </div>
</div>