<h5>Pagination</h5>
<hr>

<div class="row">
    <div class="col-12">
        <nav>
            <ul class="pagination">
                <li class="page-item active">
                    <a class="page-link" href="javascript:;">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:;">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:;">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:;">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:;">5</a>
                </li>
            </ul>
        </nav>

        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link prev" href="javascript:;">
                        {% include_relative _assets/svg/ic_arrow_xs_right_no_color.svg %}
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="javascript:;">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:;">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:;">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link next" href="javascript:;">
                        {% include_relative _assets/svg/ic_arrow_xs_right_no_color.svg %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>