<h5>Tabs</h5>
<hr>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#1" role="tab" aria-controls="home" aria-selected="true">Tab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#2" role="tab" aria-controls="profile" aria-selected="false">Tab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#3" role="tab" aria-controls="contact" aria-selected="false">Tab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#4" role="tab" aria-controls="contact" aria-selected="false">Tab</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="1" role="tabpanel" aria-labelledby="home-tab">
                Along with conventional advertising and below the line activities, organizations and corporate bodies have come to realize that they need to invest in trade shows in order to create maximum recall for their product or brand name. There are several benefits to participating in a trade show.
            </div>
            <div class="tab-pane fade" id="2" role="tabpanel" aria-labelledby="profile-tab">21</div>
            <div class="tab-pane fade" id="3" role="tabpanel" aria-labelledby="contact-tab">3</div>
            <div class="tab-pane fade" id="4" role="tabpanel" aria-labelledby="contact-tab">4</div>
        </div>
    </div>
</div>