.styleguide-page {
	hr {
		position: relative;
		margin-bottom: 30px;

		&:before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #DFE5EB;
			display: block;
			position: absolute;
			left: -100%;
			right: 0;
			top: -1px;
		}
		&:after {
			content: '';
			width: 9px;
			height: 9px;
			display: block;
			background-color: $styleguide-color;
			border-radius: 50%;
			position: relative;
			top: -5px;
		}
	}

	.row {
		margin-bottom: 15px;
	}

	.sub-heading {
		font-size: 16px;
		font-weight: 600;
		color: #1a1c1f;
		margin-bottom: 10px;
		width: 100%;
		display: block;
	}

	.project-logo {
		text-align: center;
		padding: 30px 0;
	}
}