// index.html //
.band {
	background-color: $styleguide-color;
	padding: 20px 0;
}

.index-logo {
    svg, img {
        width: 100%;
    }
}

.list-group {
    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .last-update {
            font-size: rem(12px);
            font-weight: bold;
	    width: 100%;
	    text-align: center;
        }
    }
}

// global //
body {
	padding-top: 70px;
	overflow-y: scroll;
}
