// http://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults

// colors
$body-bg: #fff;
$body-color: #212529;
$font-size-base: 1rem;

$theme-colors: (
	"primary": #0074d9,
	"danger": #ff4136
);